beautifulsoup4==4.13.3
blinker==1.9.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
html5lib==1.1
html5print==0.1.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
requests==2.32.3
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.40
tinycss2==1.4.0
typing_extensions==4.13.0
urllib3==2.3.0
webencodings==0.5.1
Werkzeug==3.1.3
WTForms==3.2.1
